<p></p>
<div class="card" style="width: 18rem;" style="display: block;">
    <div class="card-header">
        Agent
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="fa fa-tag"></span><span style="margin-left: 10px;">{{agent.name}}</span></li>
        <li class="list-group-item"><span class="fa fa-envelope"></span><span style="margin-left: 10px;">{{agent.email}}</span></li>
        <li class="list-group-item"><span class="fa fa-phone"></span><span style="margin-left: 10px;">0{{agent.phoneNumber}}</span></li>
    </ul>
</div>